<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.archive.dao.GroupMapper">
	<!-- 그룹 리스트 -->
	<select id="groupList" resultType="community">
		select * from community 
		where group_master = 1 
	</select>
	
	<!-- 그룹에서 아이디로 가입한 그룹번호 가져오기  -->
	<select id="getMember" parameterType="String" resultType="community">
		select groupnum from community
		where
		id = #{id}
	</select>
	
	<!-- 그룹장 찾기 -->
	<select id="searchGm" parameterType="String" resultType="community">
		select * from community 
		where id = #{id} and group_master = 1
	</select> 
	
	<!-- 그룹 게시판 -->
	<select id="groupBoard" parameterType="int" resultType="groupboard">
		select * from
		groupboard
		where
		groupnum = #{groupnum}
		order by bnum_group desc
	</select>
	
	<!-- 그룹 게시판 글 읽기 -->
	<select id="groupBoardRead" parameterType="int" resultType="groupboard">
		select * from
		groupboard
		where
		bnum_group = #{bnum_group}
	</select>
	
	<!-- 그룹 생성 -->
	<insert id="makeGroup" parameterType="community">
		insert into community(
			id
			, nickname
			, groupnum
			, group_master
			, groupname
			, groupintroduce
		)
		values(
			#{id}
			, #{nickname}
			, community_seq.nextval
			, 1
			, #{groupname}
			, #{groupintroduce}
		)
	</insert>
	
	<!-- Gu에 정보 넣기 -->
	<insert id="inputGu" parameterType="community">
		insert into group_user(
			groupnum
			, groupname
			, groupintroduce
		)
		values(
			#{groupnum}
			, #{groupname}
			, #{groupintroduce}	
		)
	</insert>
	
	<!-- 그룹 글 쓰기 -->
	<insert id="write" parameterType="groupboard">
		insert into groupboard(
			groupNum
			, bnum_group
			, title
			, content
			, id
			, nickname
			, groupname
		)
		values(
			#{groupnum}
			, groupboard_seq.nextval
			, #{title}
			, #{content}
			, #{id}
			, #{nickname}
			, #{groupname}
		)
	</insert>
	
	<!-- 그룹 가입 -->
	<insert id="joinGroup" parameterType="community">
		insert into community(
			id
			, nickname
			, groupnum
			, groupname
		)
		values(
			#{id}
			, #{nickname}
			, #{groupnum}
			, #{groupname}
		)
	</insert>
	
	<!-- 그룹 이름 가져오기 -->
	<select id="groupName" parameterType="int" resultType="String">
		select groupname from group_user
		where
		groupnum = #{groupnum}
	</select>
	
	<!-- 게시글 삭제 -->
	<delete id="groupDelete" parameterType="groupboard">
		delete from groupboard
		where
		id = #{id}
		and
		bnum_group = #{bnum_group}
	</delete>
	
	<!-- 게시글 수정 -->
	<update id="groupUpdate" parameterType="groupboard">
		update groupboard 
		set
		title = #{title}
		, content = #{content}
		where
		id = #{id}
		and bnum_group = #{bnum_group}
	</update>
	
	<!-- 전체 글 갯수 -->
	<select id="getTotal" parameterType="int" resultType="int">
		select count(*) from groupboard where groupnum = #{groupnum} 
	</select>
	
	<!-- 페이지 네비게이터 -->
	<select id="boardSelect" resultType="groupboard">
		select * from groupboard
	</select>
	
	<!-- 그룹번호 찾기 -->
	<select id="searchGn" parameterType="int" resultType="int">
		select groupnum from groupboard where bnum_group = #{bnum_group}
	</select>
	
	<!-- 리플 쓰기 -->
	<insert id="replyWrite" parameterType="groupreply">
		insert into groupreply(
			groupnum
			, bnum_group
			, rnum_group
			, content
			, id
			, nickname
		)values(
			#{groupnum}
			, #{bnum_group}
			, groupreply_seq.nextval
			, #{content}
			, #{id}
			, #{nickname}
		)
	</insert>
	
	<!-- 리플 목록 -->
	<select id="groupReplyList" parameterType="int" resultType="groupreply">
		select * from groupreply
		where bnum_group = #{bnum_group}
		order by rnum_group desc
	</select>
	
	<!-- 리플 삭제 -->
	<delete id="groupReplyDelete" parameterType="groupreply">
		delete from groupreply
		where
		id = #{id}
		and
		rnum_group = #{rnum_group}
	</delete>
	
	<!-- 리플 번호 찾기 -->
	<select id="searchRn" parameterType="String" resultType="int">
		select rnum_group from groupreply
		where
		id = #{id}
		and bnum_group = #{bnum_group}
	</select>
	
	<select id="getTotalList" resultType="int">
		select 
			count(*)
		from
			group_user
	</select>
	<select id="searchBn" parameterType="groupreply" resultType="int">
	select 
		bnum_group
	from	
		groupreply
	where
		id = #{id}
		and
		rnum_group = #{rnum_group}
	</select>
	
	<select id="getListuser" parameterType="String" resultType="community">
		select
			*
		from
			community
		where
			id = #{id}
		order by
			group_master desc
	</select>
	<select id="getMaster" parameterType="int" resultType="community">
		select
			*
		from
			community
		where
			group_master = 1
			and
			groupnum = #{num}
	</select>
	<!-- groupname으로 그룹번호 받아오기 -->
	<select id="getGroupNum" parameterType="String" resultType="int">
		select groupnum from group_user where groupname = #{groupname}
	</select>
</mapper>
